target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### misc
.DS_Store


### Zitadel
node_modules/
.kreya
login-client.pat
admin.pat
.env.*local
.artifacts
packages/.changeset

# Zitadel upstream repository cloned directories
proto/

# Temporal cloned repos
tmp_*

# Local Netlify folder
.netlify

dist
.vercel

# PNPM
.pnpm-store

# Nx
.nx
.nx/cache
.nx/workspace-data